body {
  background: #fff7ed !important;
}


/* VIỀN CHO TIÊU ĐỀ BÀI VIẾT Ở TRANG HOME */
.post-entry .entry-title {
  border-left: 6px solid #080f0b;
  background: #000000;
  padding: 12px 16px;
  border-radius: 8px;
}
